@use "../mixins";
@use "../variables" as *;

.advantage-main {
  background-color: #81b3d2;

  &:first-child .advantage-main__title {
    padding: 34px 8px 0;
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
      margin-bottom: 13px;
      padding: 53px 23px 0;
    }
  }

  &:first-child .advantage-main__description {
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      padding-bottom: 30px;
    }
  }
}

.advantage-main__card-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;

  &--change-order {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}

.advantage-main__title {
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  overflow-wrap: break-word;
  padding: 38px 8px 11px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 53px 23px 0;
    margin-bottom: 13px;
  }
}

.advantages-main__br {
  display: inline;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages-main__br-reverse {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.advantage-main__description {
  margin: 0;
  padding: 0 23px 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }
}

.advantage-main__picture-wrapper {
  @media (min-width: $tablet-width) {
    width: 512px;
  }
}

.advantage-main__image {
  @include mixins.normalize-image;
  display: block;
  width: auto;
  height: auto;
}
