.advantage-additional {
  background-color: #eeeeee;

  &:last-child .advantage-additional__wrapper {
    padding-bottom: 28px;
  }
}

.advantage-additional__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 26px;
}

.advantage-additional__title {
  position: relative;
  margin: 0 0 11px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  overflow-wrap: break-word;
}

.advantage-additional__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
