.benefit-card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.benefit-card__description {
  text-transform: uppercase;
  margin: 0;
}
