@use "../mixins";

.benefits {
  @include mixins.normalize-list;
  background-color: #ffffff;
  padding: 23px 18px 46px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.benefits__item:not(:last-child) {
  margin-bottom: 25px;
}
