@use "../variables" as *;

.benefit-card {
  padding-left: 47px;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding-left: 0;
  }
}

.benefit-card__title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 15px;

  &--first-icon::after,
  &--second-icon::after,
  &--third-icon::after {
    position: absolute;
  }

  &--first-icon::after {
    content: url("../img/house-mobile.svg");
    top: 1px;
    left: -47px;

    @media (min-width: $tablet-width) {
      content: url("../img/house-tablet.svg");
      top: 59px;
      left: 65px;
    }
  }

  &--second-icon::after {
    content: url("../img/food-mobile.svg");
    top: 2px;
    left: -47px;

    @media (min-width: $tablet-width) {
      content: url("../img/food-tablet.svg");
      top: 61px;
      left: 63px;
    }
  }

  &--third-icon::after {
    content: url("../img/gift-mobile.svg");
    top: 1px;
    left: -43px;

    @media (min-width: $tablet-width) {
      content: url("../img/gift-tablet.svg");
      top: 63px;
      left: 74px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 158px;
    padding-bottom: 23px;
    text-align: center;
  }
}

.benefit-card__description {
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.benefit-card__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 23px 60px;
  }
}
