@use "../variables" as *;

.benefits {
  list-style: none;
  margin: 0;
  background-color: #ffffff;
  padding: 23px 18px 46px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
    flex-direction: row;
  }
}

.benefits__item:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
