@use "../variables" as *;
@use "../mixins";

.catalog {
  padding: 38px 20px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.catalog__header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &::after {
    position: absolute;
    content: "";
    left: -20px;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    z-index: 3;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      display: none;
    }
  }
}

.catalog__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding: 28px 20px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 20px 32px;
  }
}

.catalog__description {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0 0 37px;

  @media (min-width: $tablet-width) {
    padding: 0 18px 81px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 18px 89px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto;

  @include mixins.normalize-list;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 400px 400px;
  }
}
