@use "../mixins";

.form {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto;
}

.form__group {
  position: relative;
  margin: 0;
  border: 0 none;

  &::after {
    position: absolute;
    content: "";
    left: -20px;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    z-index: 3;
  }

  &--who {
    padding: 0 0 39px 0;
  }

  &--contacts {
    padding: 0 0 34px 0;
  }

  &--impression,
  &--attractions,
  &--feelings {
    padding: 0 0 23px 0;
  }
}

.form__title {
  margin: 0 0 19px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0 0 0;
}

.form__list {
  @include mixins.normalize-list;
  display: grid;
  grid-template-columns: 280px;
  grid-row-gap: 15px;

  &--who {
    grid-template-rows: repeat(3, 80px);
  }

  &--contacts {
    grid-template-rows: repeat(2, 80px);
  }

  &--impression {
    grid-template-rows: repeat(3, 47px);
    padding-top: 1px;
  }

  &--attractions {
    grid-template-rows: repeat(4, 47px);
    padding-top: 1px;
  }
}

.form__field-item {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 21px 58px;
}

.form__control-item {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 46px;
  align-items: center;
}
