@use "../mixins";
@use "../variables" as *;

.form {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 280px 280px;
    grid-column-gap: 88px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 430px 402px;
    grid-column-gap: 128px;
    margin: 0 auto;
  }
}

.form__group {
  position: relative;
  margin: 0 auto;
  border: 0 none;

  &::after {
    position: absolute;
    content: "";
    left: -20px;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    z-index: 3;
  }

  &--who {
    padding: 0 0 39px 0;
  }

  &--contacts {
    padding: 0 0 34px 0;
  }

  &--feelings {
    padding: 0 0 14px 0;
    grid-column: 1 / -1;
  }

  &--impression {
    padding: 0 0 23px 0;
    grid-column: 1 / -1;
  }

  &--attractions {
    padding: 0 0 23px 0;
    grid-column: 1 / -1;
  }

  &--feelings::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      padding-bottom: 39px;
    }
  }
}

.form__title {
  margin: 0 0 19px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0 0 0;


  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 74px;
    margin-bottom: 27px;

    &--who {
      margin-left: 21px;
    }

    &--contacts {
      margin-left: -19px;
    }

    &--impression {
      padding-top: 24px;
    }

    &--attractions {
      padding-top: 24px;
      margin-bottom: 28px;
    }

    &--feelings {
      padding-top: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;

    &--who {
      margin-left: 32px;
    }

    &--contacts {
      margin-left: -32px;
    }

    &--impression {
      padding-top: 32px;
      margin-bottom: 44px;
    }

    &--attractions {
      padding-top: 50px;
      margin-bottom: 58px;
    }

    &--feelings {
      padding-top: 63px;
    }
  }
}

.form__feelings-wrapper {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto 58px 24px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 192px;
    grid-template-rows: auto 58px;
    grid-column-gap: 132px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 384px 228px;
    grid-column-gap: 156px;
  }
}

.form__textarea {
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    margin-bottom: 48px;
  }
}

.form__list {
  @include mixins.normalize-list;
  display: grid;
  grid-template-columns: 280px;
  grid-row-gap: 15px;

  &--who {
    grid-template-rows: repeat(3, 80px);
  }

  &--contacts {
    grid-template-rows: repeat(2, 80px);
  }

  &--impression {
    grid-template-rows: repeat(3, 47px);
    padding-top: 1px;
  }

  &--attractions {
    grid-template-rows: repeat(4, 47px);
    padding-top: 1px;
  }

  @media (min-width: $tablet-width) {
    &--impression {
      grid-template-columns: 280px 280px;
      grid-template-rows: repeat(2, 47px);
      grid-column-gap: 16px;
    }

    &--attractions {
      grid-template-columns: 224px 224px;
      grid-template-rows: repeat(2, 47px);
      grid-column-gap: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    &--who {
      grid-template-columns: 430px;

      .form__field-item {
        grid-template-columns: 430px;
      }
    }

    &--contacts {
      grid-template-columns: 402px;

      .form__field-item {
        grid-template-columns: 402px;
      }
    }

    &--impression {
      grid-template-columns: 280px 280px 280px;
      grid-template-rows: 47px;
      grid-column-gap: 28px;
      margin-left: 41px;
    }

    &--attractions {
      grid-template-columns: 173px 170px 153px 185px;
      grid-template-rows: 47px;
      grid-column-gap: 64px;
    }
  }
}

.form__field-item {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 21px 58px;
}

.form__control-item {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 46px;
  align-items: center;

  @media (min-width: $desktop-width) {
    &--first-desktop {
      grid-template-columns: 173px;
    }

    &--second-desktop {
      grid-template-columns: 170px;
    }

    &--third-desktop {
      grid-template-columns: 153px;
    }

    &--fourth-desktop {
      grid-template-columns: 185px;
    }
  }
}

.form__desc {
  text-align: right;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  padding-top: 2px;
  padding-right: 2px;

  .form__sup {
    line-height: 0;
    position: relative;
    top: 4px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-right: 0;
    font-size: 14px;
  }
}
