.main-footer {
  padding: 0 0 20px 0;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__contacts {
  margin-top: 19px;
  margin-bottom: 33px;
}

.main-footer__copyright {
  margin-top: 34px;
}
