@use "../variables" as *;

.map {
  position: relative;
  width: 320px;
  height: 350px;
  background-image: url("../img/map-mobile.png");
  background-size: 320px 350px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  z-index: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.png");
  }

  &::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    background-image: url("../img/map-marker.svg");
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    background-image: url("../img/map-tablet.png");
    background-size: 768px 350px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    background-image: url("../img/map-desktop.png");
    background-size: 1200px 350px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
    }
  }
}

.map__frame {
  border: 0;
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
