@use "../variables" as *;

.map {
  position: relative;
  width: 320px;
  height: 350px;
  background-image: url("../img/map-mobile.png");
  background-size: 320px 350px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  z-index: 0;

  &::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    background-image: url("../img/map-marker.svg");
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 350px;
    background-image: url("../img/map-tablet.png");
    background-size: 768px 350px;
  }
}
