.mistake-modal {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
  margin: auto;
  padding: 45px 41px 35px;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.mistake-modal__title {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 25px 0;
  text-align: center;
}

.mistake-modal__description {
  text-transform: uppercase;
  margin: 0 0 28px 0;
  text-align: center;
}

.mistake-modal__button {
  width: 180px;
  font-size: 18px;
  align-self: center;
}
