@use "../variables" as *;

.presentation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 17px 20px 0;
  margin-bottom: -10px;
}

.presentation__title {
  margin: 0 0 27px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding: 28px 20px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 20px 5px;
  }
}

.presentation__description {
  margin: 0 0 38px 0;
  text-transform: uppercase;
  text-align: center;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 49px;
  }
}
