@use "../variables" as *;

.textarea__text {
  resize: none;
  display: block;
  width: 280px;
  height: 150px;
  padding: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  font-family: inherit;
  border: 4px solid transparent;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus-visible {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 160px;
  }
}
